section.breadcrumbs.breadcrumbs--gallery
  .breadcrumbs__wrapper
    .breadcrumbs__text
      h2.page__title Акции
      .breadcrumbs__block
        a.breadcrumbs__link(href="") Главная
        a.breadcrumbs__link(href="") Акции
    a.breadcrumbs__btn(href="") БРОНИРОВАНИЕ

section.gallery.hotel.akcii
  .gallery__wrapper.hotel__wrapper
    h2.gallery__title Спецпредложения
    .akcii__content
      .akcii__item
        .akcii__img
          img(src="img/akcii.jpg", alt="")
        .akcii__badge
          span.akcii__item_title Три ночи по цене двух!
          .akcii__item_text
            p Отель и ресторан «Москва» приглашает вас на Новогодни 
              | маскарад 2018 в новый банкет-холл «Бальмонт».
            p Вместе с нами вы отправитесь в незабываемое новогоднее 
              | приключение с гастрономическими изысками и невероятной шоу-программой. Встретим Новый 2018 год вместе в атмосфере веселья и праздника! 
          .akcii__item_bottom
            span.akcii__item_date до 31 марта 2017!
            a.akcii__item_btn(href="") ЗАБРОНИРОВАТЬ

      .gallery__block_bottom
        i
        i.big
        i

      .akcii__item
        .akcii__img
          img(src="img/akcii.jpg", alt="")
        .akcii__badge
          span.akcii__item_title Три ночи по цене двух!
          .akcii__item_text
            p Отель и ресторан «Москва» приглашает вас на Новогодни 
              | маскарад 2018 в новый банкет-холл «Бальмонт».
            p Вместе с нами вы отправитесь в незабываемое новогоднее 
              | приключение с гастрономическими изысками и невероятной шоу-программой. Встретим Новый 2018 год вместе в атмосфере веселья и праздника! 
          .akcii__item_bottom
            span.akcii__item_date до 31 марта 2017!
            a.akcii__item_btn(href="") ЗАБРОНИРОВАТЬ