section.breadcrumbs.breadcrumbs--gallery
  .breadcrumbs__wrapper
    .breadcrumbs__text
      h2.page__title Бронирование
      .breadcrumbs__block
        a.breadcrumbs__link(href="") Главная
        a.breadcrumbs__link(href="") Бронирование
    a.breadcrumbs__btn(href="") БРОНИРОВАНИЕ

section.gallery.hotel.akcii
  .gallery__wrapper.hotel__wrapper
    h2.gallery__title Спецпредложения