section.breadcrumbs.breadcrumbs--gallery
  .breadcrumbs__wrapper
    .breadcrumbs__text
      h2.page__title Контакты
      .breadcrumbs__block
        a.breadcrumbs__link(href="") Главная
        a.breadcrumbs__link(href="") Контакты
    a.breadcrumbs__btn(href="") БРОНИРОВАНИЕ

section.gallery.hotel.contacts
  .gallery__wrapper.hotel__wrapper
    h2.gallery__title Как нас найти?
    .contacts__flex
      .contacts__item
        span.contacts__item_list Отель находится за ТЦ «Муравей».
        span.contacts__item_list 7 минут от ст. метро «Заречная». 
        span.contacts__item_list Отдельное здание с паровкой.
      .contacts__item.contacts__item--map
        span.contacts__item_link Тел.: 
          a(href="tel:+7 (831) 2508-555") +7 (831) 2508-555
        span.contacts__item_link E-mail: 
          a(href="mailto:info@yabliki19.ru") info@yabliki19.ru
      .contacts__item.contacts__item--address
        span.contacts__item_link г. Нижний Новгород, 
          br
          | р-н. Ленинский, ул. Дружбы, д. 19а 
    .map#map
    h3 Эксклюзивный интерьер
      p От аэропорта - Автобусом №611 или маршрутном такси №45 до остановки гостиница «Салют», Время в пути до/от гостиницы 20-30 минут.
      p Из центра города - 20 минут на метро до станции «Юго-западная», 30-40 минут на автотранспорте. От станции метро «Юго-Западная»: нужно выйти из 1-го вагона (направление из центра) налево в город, далее ещё раз налево для выхода из метро, далее повернуть направо на улицу 26 Бакинских Комсаров остановка автобусов: №720. Необходимо доехать до остановки «Гостиница Салют». 