main.page.front-page
  section.wrapper.comfort
    h2.title КОМФОРТНЫЕ НОМЕРА
    span.subtitle В каждом номере отеля «Яблоки» есть все необходимое, как для продуктивной работы, так и для отдыха.
      br 
      | Вне зависимости от ценовой категории, Ваш номер будет функциональным и уютным, с тихой и уютной обстановкой.
    .comfort__list
      .comfort__item--over
        .comfort__item
          .comfort__img
            img(src="img/comfort1.jpg", alt="")
            .comfort__text
              span.comfort__count 3 номера
              .comfort__line
              span.comfort__category Категории «Стандарт»
          .comfort__bottom
            span.comfort__title Номер «Стандарт»
              b от 2.500 руб.
            a.comfort__btn(href="") ПОДРОБНЕЕ

      .comfort__item--over
        .comfort__item
          .comfort__img
            img(src="img/comfort2.jpg", alt="")
            .comfort__text
              span.comfort__count 3 номера
              .comfort__line
              span.comfort__category Категории «Люкс»
          .comfort__bottom
            span.comfort__title Номер «Люкс»
              b от 4.500 руб.
            a.comfort__btn(href="") ПОДРОБНЕЕ

      .comfort__item--over
        .comfort__item
          .comfort__img
            img(src="img/comfort3.jpg", alt="")
            .comfort__text
              span.comfort__count 1 номер
              .comfort__line
              span.comfort__category Категории «Комфорт»
          .comfort__bottom
            span.comfort__title Номер «Комфорт»
              b от 5.500 руб.
            a.comfort__btn(href="") ПОДРОБНЕЕ

  section.finn
    h2.title 3 ФИНСКИХ САУНЫ
    .comfort__list.finn__list
      .finn__item--over
        .finn__item
          img(src="img/finn1.jpg", alt="")
          span.finn__item_text Номера «Африка»
            br
            | от 1.000 руб.
          a.finn__item_link(href="")

      .finn__item--over
        .finn__item
          img(src="img/finn2.jpg", alt="")
          span.finn__item_text Номера «Африка»
            br
            | от 1.000 руб.
          a.finn__item_link(href="")

      .finn__item--over
        .finn__item
          img(src="img/finn3.jpg", alt="")
          span.finn__item_text Номера «Африка»
            br
            | от 1.000 руб.
          a.finn__item_link(href="")
