section.breadcrumbs.breadcrumbs--gallery
  .breadcrumbs__wrapper
    .breadcrumbs__text
      h2.page__title Галерея
      .breadcrumbs__block
        a.breadcrumbs__link(href="") Главная
        a.breadcrumbs__link(href="") Галерея
    a.breadcrumbs__btn(href="") БРОНИРОВАНИЕ

section.gallery
  .gallery__wrapper
    h2.gallery__title Фотогалерея отеля
    .gallery__block
      h3.gallery__block_title Номер «Стандарт 1»
      .gallery__flex.popup-gallery.popup-gallery1
        .gallery__item--container
          .gallery__item
            .gallery__item_block
              a(href="img/gallery/standart1-1.jpg", title="Номер «Стандарт 1»")
                img(src="img/gallery/standart1-1.jpg", alt="")
              span.gallery__item_title Номер «Стандарт 1»
              .gallery__item_zoom Увеличить

        .gallery__item--container
          .gallery__item
            .gallery__item_block
              a(href="img/gallery/standart1-2.jpg", title="Номер «Стандарт 1»")
                img(src="img/gallery/standart1-2.jpg", alt="")
              span.gallery__item_title Номер «Стандарт 1»
              .gallery__item_zoom Увеличить

        .gallery__item--container
          .gallery__item
            .gallery__item_block
              a(href="img/gallery/standart1-3.jpg", title="Номер «Стандарт 1»")
                img(src="img/gallery/standart1-3.jpg", alt="")
              span.gallery__item_title Номер «Стандарт 1»
              .gallery__item_zoom Увеличить

        .gallery__item--container
          .gallery__item
            .gallery__item_block
              a(href="img/gallery/standart1-2.jpg", title="Номер «Стандарт 1»")
                img(src="img/gallery/standart1-2.jpg", alt="")
              span.gallery__item_title Номер «Стандарт 1»
              .gallery__item_zoom Увеличить

        .gallery__item--container
          .gallery__item
            .gallery__item_block
              a(href="img/gallery/standart1-3.jpg", title="Номер «Стандарт 1»")
                img(src="img/gallery/standart1-3.jpg", alt="")
              span.gallery__item_title Номер «Стандарт 1»
              .gallery__item_zoom Увеличить

        .gallery__item--container
          .gallery__item
            .gallery__item_block
              a(href="img/gallery/standart1-2.jpg", title="Номер «Стандарт 1»")
                img(src="img/gallery/standart1-2.jpg", alt="")
              span.gallery__item_title Номер «Стандарт 1»
              .gallery__item_zoom Увеличить

      .gallery__block_bottom
        i
        i.big
        i

    .gallery__block
      h3.gallery__block_title Номер «Стандарт 2»
      .gallery__flex.popup-gallery.popup-gallery2
        .gallery__item--container
          .gallery__item
            .gallery__item_block
              a(href="img/gallery/standart1-1.jpg", title="Номер «Стандарт 2»")
                img(src="img/gallery/standart1-1.jpg", alt="")
              span.gallery__item_title Номер «Стандарт 2»
              .gallery__item_zoom Увеличить

        .gallery__item--container
          .gallery__item
            .gallery__item_block
              a(href="img/gallery/standart1-2.jpg", title="Номер «Стандарт 2»")
                img(src="img/gallery/standart1-2.jpg", alt="")
              span.gallery__item_title Номер «Стандарт 2»
              .gallery__item_zoom Увеличить

        .gallery__item--container
          .gallery__item
            .gallery__item_block
              a(href="img/gallery/standart1-3.jpg", title="Номер «Стандарт 2»")
                img(src="img/gallery/standart1-3.jpg", alt="")
              span.gallery__item_title Номер «Стандарт 2»
              .gallery__item_zoom Увеличить

        .gallery__item--container
          .gallery__item
            .gallery__item_block
              a(href="img/gallery/standart1-2.jpg", title="Номер «Стандарт 2»")
                img(src="img/gallery/standart1-2.jpg", alt="")
              span.gallery__item_title Номер «Стандарт 2»
              .gallery__item_zoom Увеличить

        .gallery__item--container
          .gallery__item
            .gallery__item_block
              a(href="img/gallery/standart1-3.jpg", title="Номер «Стандарт 2»")
                img(src="img/gallery/standart1-3.jpg", alt="")
              span.gallery__item_title Номер «Стандарт 2»
              .gallery__item_zoom Увеличить

        .gallery__item--container
          .gallery__item
            .gallery__item_block
              a(href="img/gallery/standart1-2.jpg", title="Номер «Стандарт 2»")
                img(src="img/gallery/standart1-2.jpg", alt="")
              span.gallery__item_title Номер «Стандарт 2»
              .gallery__item_zoom Увеличить

      .gallery__block_bottom
        i
        i.big
        i