header.header
  .header__top
    .wrapper.header__wrapper
      span.header__address г. Нижний Новгород,
        br
        | р-н. Ленинский, ул. Дружбы, д. 19а
      .header__top_flex
        a.header__logo(href="")
          img(src="img/logo.png", alt="Яблоки")
        .butter
      .book-btn ЗАБРОНИРОВАТЬ НОМЕР
      .header__phone
        a.header__phone_link(href="tel:+7 (831) 2508-555") +7 (831) 2508-555
        span круглосуточно
  .header__menu--container
    ul.header__menu
      li.header__menu_item
        a(href="") ГЛАВНАЯ
      li.header__menu_item
        a(href="") ОТЕЛЬ
      li.header__menu_item
        a(href="") НОМЕРА И ЦЕНЫ
        .header__submenu
          .header__submenu_block
            a.header__submenu_item(href="") Номера класса «Стандарт»
            a.header__submenu_item(href="") Номера класса «Комфорт»
            a.header__submenu_item(href="") Номера класса «Люкс»
      li.header__menu_item
        a(href="") САУНА
      li.header__menu_item
        a(href="") БРОНИРОВАНИЕ
      li.header__menu_item
        a(href="")  АКЦИИ
      li.header__menu_item
        a(href="") ГАЛЕРЕЯ
      li.header__menu_item
        a(href="") КОНТАКТЫ

