section.breadcrumbs.breadcrumbs--gallery
  .breadcrumbs__wrapper
    .breadcrumbs__text
      h2.page__title Отель
      .breadcrumbs__block
        a.breadcrumbs__link(href="") Главная
        a.breadcrumbs__link(href="") Отель
    a.breadcrumbs__btn(href="") БРОНИРОВАНИЕ

section.gallery.hotel
  .gallery__wrapper.hotel__wrapper
    h2.gallery__title Коротко о гостинице
    .hotel__content
      p.wow.slideInUp Отель «Волгоград», расположенный в историческом, культурном и деловом центре города, известен своими традициями гостеприимства начиная с 1890г. 
        | После проведенной в 2015 году реновации, мы рады предложить нашим гостям элегантные, современные, комфортабельные номера различного класса и
        | ценовой категории, радушный прием и безупречный, располагающий сервис.
      p.wow.slideInUp Широкий выбор возможностей для бронирования, наличие в инфраструктуре  отеля «Волгоград» ресторана европейской и русской кухни Moliere, салона 
        | красоты Biarritz, четырех современных бизнес-площадок, фитнес зала, сауны и бассейна сделает Ваше пребывание комфортным и незабываемым.
      .hotel__img.wow.slideInUp
        img(src="img/hotel.jpg", alt="")
      a.hotel__btn.wow.slideInUp(href="") ПРАВИЛА ПРОЖИВАНИЯ
      h3.wow.slideInUp Эксклюзивный интерьер
      p.wow.slideInUp Начав свою историю в 1890 году, сегодня отель «Волгоград» - самый престижный отель областного центра, безупречно подходящий для размещения во 
        | время деловых поездок, городского туризма и семейных выходных. Отель, который славится многолетними традициями и радушным приемом. Мы прегаем 
        | Вам не просто удобные, современные номера, а атмосферу комфорта и уюта в спокойной и изысканной обстановке.
      p.wow.slideInUp Широкий выбор возможностей для бронирования, наличие в инфраструктуре  отеля «Волгоград» ресторана европейской и русской кухни Moliere, салона 
        | красоты Biarritz, четырех современных бизнес-площадок, фитнес зала, сауны и бассейна сделает Ваше пребывание комфортным и незабываемым.
      h3.wow.slideInUp Идеальное место для отдыха в компании
      p.wow.slideInUp Отель «Волгоград», расположенный в историческом, культурном и деловом центре города, известен своими традициями гостеприимства начиная с 1890г. 
        | После проведенной в 2015 году реновации, мы рады предложить нашим гостям элегантные, современные, комфортабельные номера различного класса и 
        | ценовой категории, радушный прием и безупречный, располагающий сервис.
      p.wow.slideInUp Отель «Волгоград» является идеальным местом проведения самых различных мероприятий, мы предлагаем своим гостям  
          | 4 бизнес площадки, укомплектованные самым современным оборудованием: 