section.breadcrumbs.breadcrumbs--gallery
  .breadcrumbs__wrapper
    .breadcrumbs__text
      h2.page__title Номера и цены
      .breadcrumbs__block
        a.breadcrumbs__link(href="") Главная
        a.breadcrumbs__link(href="") Номера и цены
    a.breadcrumbs__btn(href="") БРОНИРОВАНИЕ

section.gallery.hotel.rooms
  .gallery__wrapper.hotel__wrapper
    h2.gallery__title Эксклюзивные номера
    .rooms__block
      .rooms__sliders
        h3.rooms-sl-title-mobile Номер «Стандарт 1»
        .rooms__slider#slider1(data-slick='{"asNavFor": "#slider1-nav"}')
          .rooms__slider_item
            span.rooms__slider_item--title Категория «Стандарт»
            img(src="img/slide-big.jpg", alt="")
          .rooms__slider_item
            span.rooms__slider_item--title Категория «Стандарт»
            img(src="img/slide-big.jpg", alt="")
          .rooms__slider_item
            span.rooms__slider_item--title Категория «Стандарт»
            img(src="img/slide-big.jpg", alt="")
          .rooms__slider_item
            span.rooms__slider_item--title Категория «Стандарт»
            img(src="img/slide-big.jpg", alt="")
          .rooms__slider_item
            span.rooms__slider_item--title Категория «Стандарт»
            img(src="img/slide-big.jpg", alt="")

        .rooms__slider_nav#slider1-nav(data-slick='{"asNavFor": "#slider1"}')
          .rooms__slider_nav_item
            .rooms__slider_nav_img
              img(src="img/slide-small.jpg", alt="")
          .rooms__slider_nav_item
            .rooms__slider_nav_img
              img(src="img/slide-small.jpg", alt="")
          .rooms__slider_nav_item
            .rooms__slider_nav_img
              img(src="img/slide-small.jpg", alt="")
          .rooms__slider_nav_item
            .rooms__slider_nav_img
              img(src="img/slide-small.jpg", alt="")
          .rooms__slider_nav_item
            .rooms__slider_nav_img
              img(src="img/slide-small.jpg", alt="")
          
      .rooms__card
        span.rooms__card_top Номер «Стандарт 1»
        .rooms__card_content
          .rooms__card_priced
            span.rooms__card_price от 
              b 2.500 
              | руб./сутки
            a.rooms__card_btn(href="") ЗАБРОНИРОВАТЬ
          span.rooms__card--more-link Подробнее 
            span &#9660;
          .rooms__card--more
            p.rooms__card_text Не большой cтандартный номер с двуспальной кроватью, ковровым покрытием,плоским жк телевизором. Также в прпр любое время чай/кофе прямо у Вас в номере и гигиеничесае принадлежности.
            .rooms__card_plash
              .rooms__card_item 1 персона:
                span 2.500 руб./сутки
              .rooms__card_item 2 персоны:
                span 2.900 руб./сутки
            .rooms__card_list
              span.contacts__item_list Бесплатный Wi-Fi
              span.contacts__item_list Выделенная рабочая зона
              span.contacts__item_list Электронный сейф
              span.contacts__item_list Cпутниковое TV
              span.contacts__item_list Чай/кофе в номер
              span.contacts__item_list Бутилированная вода
              span.contacts__item_list Средства гигиены
              span.contacts__item_list Махровые полотенца

        span.rooms__card_3d.open3d(data-src="panorams/01panorama.html") Смотреть 3D-тур

    .gallery__block_bottom
        i
        i.big
        i

    .rooms__block.wow.slideInUp
      .rooms__sliders
        h3.rooms-sl-title-mobile Номер «Стандарт 2»
        .rooms__slider#slider2(data-slick='{"asNavFor": "#slider2-nav"}')
          .rooms__slider_item
            span.rooms__slider_item--title Категория «Стандарт»
            img(src="img/slide-big.jpg", alt="")
          .rooms__slider_item
            span.rooms__slider_item--title Категория «Стандарт»
            img(src="img/slide-big.jpg", alt="")
          .rooms__slider_item
            span.rooms__slider_item--title Категория «Стандарт»
            img(src="img/slide-big.jpg", alt="")
          .rooms__slider_item
            span.rooms__slider_item--title Категория «Стандарт»
            img(src="img/slide-big.jpg", alt="")
          .rooms__slider_item
            span.rooms__slider_item--title Категория «Стандарт»
            img(src="img/slide-big.jpg", alt="")

        .rooms__slider_nav#slider2-nav(data-slick='{"asNavFor": "#slider2"}')
          .rooms__slider_nav_item
            .rooms__slider_nav_img
              img(src="img/slide-small.jpg", alt="")
          .rooms__slider_nav_item
            .rooms__slider_nav_img
              img(src="img/slide-small.jpg", alt="")
          .rooms__slider_nav_item
            .rooms__slider_nav_img
              img(src="img/slide-small.jpg", alt="")
          .rooms__slider_nav_item
            .rooms__slider_nav_img
              img(src="img/slide-small.jpg", alt="")
          .rooms__slider_nav_item
            .rooms__slider_nav_img
              img(src="img/slide-small.jpg", alt="")
          
      .rooms__card
        span.rooms__card_top Номер «Стандарт 1»
        .rooms__card_content
          .rooms__card_priced
            span.rooms__card_price от 
              b 2.500 
              | руб./сутки
            a.rooms__card_btn(href="") ЗАБРОНИРОВАТЬ
          span.rooms__card--more-link Подробнее 
            span &#9660;
          .rooms__card--more
            p.rooms__card_text Не большой cтандартный номер с двуспальной кроватью, ковровым покрытием,плоским жк телевизором. Также в прпр любое время чай/кофе прямо у Вас в номере и гигиеничесае принадлежности.
            .rooms__card_plash
              .rooms__card_item 1 персона:
                span 2.500 руб./сутки
              .rooms__card_item 2 персоны:
                span 2.900 руб./сутки
            .rooms__card_list
              span.contacts__item_list Бесплатный Wi-Fi
              span.contacts__item_list Выделенная рабочая зона
              span.contacts__item_list Электронный сейф
              span.contacts__item_list Cпутниковое TV
              span.contacts__item_list Чай/кофе в номер
              span.contacts__item_list Бутилированная вода
              span.contacts__item_list Средства гигиены
              span.contacts__item_list Махровые полотенца

        span.rooms__card_3d.open3d(data-src="panorams/02panorama.html") Смотреть 3D-тур

    .gallery__block_bottom
        i
        i.big
        i

    .rooms__content
      h3.wow.slideInUp Снять номер отеля в Нижнем Новгороде
      p.wow.slideInUp Если вы цените свежий воздух и живописные виды из окна, первоклассное обслуживание и уютную обстановку, смело останавливайтесь в «Милане». Сюда можно добраться на автомобиле, чтобы затем оставить его на нашей охраняемой парковке. Также гости могут воспользоваться услугой бесплатного трансфера.
      p.wow.slideInUp Номерной фонд отеля состоит из 296 номеров: от стандартных до категории люкс. Молодоженам предлагаются специально оборудованные номера для новобрачных, а ценителям релакса — номер с сауной. На всей территории действует бесплатный Wi-Fi. Вы останетесь в восторге от «Милана» и в том счае, если знаете толк в изысканной кухне. В отеле работают три заведения с ресторанным питанием: уютный лобби-бар «Пиано», пивной ваф«Грют» и ресторан «Тиберио», где по утрам для постояльцев сервируются завтраки по системе шведского стола.
      p.wow.slideInUp Как любая высокоуровневая гостиница в Москве «Милан» имеет в своей инфраструктуре помещения для проведения свадеб, семейных и корпоратпривных торжеств, деловых мероприятий. Здесь вы найдете 7 банкетных залов и 9 конференц-залов разной вместимости.
      p.wow.slideInUp Гостям также предоставляются услуги по визовой поддержке, аренде мобильного роутера, химчистке и стирке вещей. Для поддержания физической фомы рекомендуем занятия в фитнес-зале с кардио- и силовыми тренажерами. А еще не упустите случая попробовать вкуснейшие торты от шеф-кондитера отля «Милан» — они действительно того стоят.


.popup
  .popup-bg
  .popup-block
    .popup__iframe
      .popup__close X
      iframe#iframe(src="" width="100%" height="100%" frameborder="0" marginwidth="0" marginheight="0" scrolling="auto" allowfullscreen="1" webkitallowfullscreen="1" mozallowfullscreen="1")