section.breadcrumbs.breadcrumbs--gallery
  .breadcrumbs__wrapper
    .breadcrumbs__text
      h2.page__title Номера и цены
      .breadcrumbs__block
        a.breadcrumbs__link(href="") Главная
        a.breadcrumbs__link(href="") Номера и цены
    a.breadcrumbs__btn(href="") БРОНИРОВАНИЕ

section.gallery.hotel.rooms
  .gallery__wrapper.hotel__wrapper
    h2.gallery__title Эксклюзивные номера
    .rooms__block
      .rooms__sliders
        .rooms__slider#slider1(data-slick='{"asNavFor": "#slider1-nav"}')
          

        .rooms__slider_nav#slider1-nav(data-slick='{"asNavFor": "#slider1"}')
          .sdf 1
          .sdf 2
          .sdf 3
          .sdf 4
      .rooms__card
