.btn-find {
  display: block;
  width: 187px;
  height: 44px;
  border: 1px solid #000000;
  background-color: #ffffff;
  box-sizing: border-box;
  text-align: center;
  line-height: 42px;
  color: #010101;
  font-size: 14px;
  font-weight: 300;
  transition: .2s ease-in-out;

  &:hover {
    border: 1px solid #b6a269;
    background-color: #b6a269;
  }
}
.contacts__flex--booking {
  justify-content: space-around;
}

.booking {

  &__block {
    background-color: #6a141c;
    margin: 40px 0;
    padding: 15px;
  }

  &__form {
    width: 100%;
    height: 100%;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    padding: 60px 60px 50px;

    &_submit {
      display: block;
      box-sizing: border-box;
      margin-top: 20px;
      width: 255px;
      height: 44px;
      border: 1px solid #ffffff;
      background: transparent;
      color: #ffffff;
      font-size: 14px;
      font-weight: 300;
      cursor: pointer;
      outline: none;
      transition: .2s ease-in-out;

      &:hover {
        background: #fff;
        color: #6a141c;
      }
    }

    &--check {
      padding-top: 10px;
      justify-content: flex-start;
      align-items: center;

      & .form__check_text a {
        display: inline-block;
      }
    }

    &_block {
      width: 255px;

      &--date {
        width: 340px;
      }
    }
    &_flex {
      display: flex;
      justify-content: space-between;
    }
  }

  &__label {
    position: relative;
    display: block;
    margin-bottom: 20px;

    &--date::before {
      display: none;
    }
  }
  &__date {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  &__date &__select {
    position: relative;
    top: 0;
  }

  &__select {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 33px;
    width: 100%;
    cursor: pointer;

    &--day {
      width: 82px;
      flex-shrink: 0;
      margin-right: 6px;
    }
    &--month {
      width: 142px;
      flex-shrink: 0;
      margin-right: 6px;
    }
    &--year {
      width: 100px;
      flex-shrink: 0;
    }

    &--z {
      z-index: 3;
    }

    &_text {
      line-height: 44px;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding-left: 18px;
      font-weight: 300;
      background: #fff;
    }

    &--open .booking__select_down {
      max-height: 216px;
    }

    &_arrow {
      height: 44px;
      position: relative;

      & i {
        position: absolute;
        top: 0;
        right: 0;
        width: 36px;
        height: 100%;
        background: url(../img/select.png) no-repeat center, #e5e5e5;
      }
    }

    &_down {
      position: absolute;
      max-height: 0;
      width: 100%;
      transition: max-height .2s ease-in-out;
      overflow-y: auto;

      &::-webkit-scrollbar-button {
        background-image:url('');
        background-repeat:no-repeat;
        width:0px;
        height:0px
      }
      
      &::-webkit-scrollbar-track {
        background-color:#f3f3f3;
      }
      
      &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 0px;
        border-radius: 0px;
        background-color:#c7c7c7;
      }
      
      &::-webkit-scrollbar-thumb:hover{
        background-color:#c0c0c0;
      }
      
      &::-webkit-resizer{
        background-image:url('');
        background-repeat:no-repeat;
        width:0px;
        height:0px
      }
      
      &::-webkit-scrollbar{
        width: 36px;
      }
    }
    &_item {
      height: 36px;
      line-height: 36px;
      padding-left: 17px;
      color: #444444;
      font-size: 14px;
      font-weight: 300;
      background: #f6f6f6;
      transition: .2s ease-in-out;

      &:hover {
        background: #f1f1f1;
      }
      &:nth-child(even) {
        background: #e5e5e5;

        &:hover {
          background: #e1e1e1;
        }
      }
    }
  }

  &__bottom {

    &_title {
      color: #000000;
      font-size: 24px;
      font-weight: 300;
      margin-bottom: 15px;
    }

    &_flex {
      display: flex;
      justify-content: space-between;
    }

    &_right {
      width: 50%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    &_item {
      width: 220px;
      padding: 15px 15px 15px 85px;
      box-sizing: border-box;
      background: rgba(229, 229, 229, .5);
      background-position: 13px 15px;
      background-repeat: no-repeat;
      margin-bottom: 20px;
      color: #444444;
      font-size: 16px;
      font-weight: 300;

      &--price {
        background-image: url(../img/price.png);
      }
      &--mgnov {
        background-image: url(../img/mgnov.png);
      }
      &--overday {
        background-image: url(../img/overday.png);
      }
      &--overall {
        background-image: url(../img/overall.png);
      }
    }

  }


}










