/*front*/
.title {
  color: #000000;
  font-family: "Museo Sans Cyrl";
  font-size: 30px;
  line-height: 30px;
  font-weight: 300;
  margin: 0 0 20px;
  text-align: center;
}
input[type="submit"]:disabled {
  opacity: 0.6;
  cursor: default;
}
.subtitle {
  color: #444444;
  font-family: "Museo Sans Cyrl";
  font-size: 16px;
  font-weight: 100;
  display: block;
  text-align: center;
}
.contacts-title {
  display: none;
}
.comfort {
  max-width: 1170px;
  padding-top: 40px;
  padding-bottom: 40px;

  &__list {
    display: flex;
    justify-content: center;
    padding: 40px 0;
  }

  &__item {
    width: 100%;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;

    &--over {
      width: 33.333%;
      padding: 0 9px;
      box-sizing: border-box;
    }

    &:hover img {
      transform: scale3d(1.05, 1.05, 1.05);
    }
    &:hover .comfort__text::before {
      transform: rotate3d(0, 1, 0, 90deg);
      opacity: 0;
    }
  }

  &__img {
    position: relative;
    height: 270px;
    overflow: hidden;

    &::before {
      position: absolute;
      z-index: 2;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000000;
      opacity: 0.35;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 1.7s ease-in-out;
    }
  }

  &__text {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    width: 273px;
    height: 168px;
    transform: translate3d(-50%, -50%, 10px);
    perspective: 1300px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    
    &::before {
      position: absolute;
      display: inline-block;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
      background-color: rgba(255, 255, 255, 0.26);
      transition: 800ms opacity, 250ms transform, 250ms -webkit-transform;
    }
  }

  &__count {
    position: relative;
    color: #ffffff;
    font-family: "Museo Sans Cyrl";
    font-size: 24px;
    font-weight: 700;
    display: block;
    width: 100%;
    text-align: center;
  }
  &__line {
    position: relative;
    width: 61px;
    height: 8px;
    background-color: #ffffff;
    margin: 20px 0 25px;
  }
  &__category {
    position: relative;
    display: block;
    width: 100%;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
  }
  &__bottom {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    color: #100f0d;
    font-size: 18px;
    font-weight: 100;

    & b {
      display: block;
      color: #000000;
      font-weight: 500;
    }
  }
  &__btn {
    display: block;
    width: 138px;
    height: 44px;
    border: 1px solid #000000;
    background-color: transparent;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .3s;
    color: #000000;
    font-size: 14px;
    font-weight: 100;
    line-height: 42px;
    text-align: center;

    &:hover {
      border: 1px solid #b6a269;
      background-color: #b6a269;
      color: #ffffff;
    }
  }
}

.finn {
  padding-top: 45px;
  background: url(../img/finn-bg.png) no-repeat center;
  background-size: cover;

  &__list {
    padding-top: 15px;
    padding-bottom: 45px;
    max-width: 1170px;
    margin: 0 auto;
  }

  &__item {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;

    &::before {
      position: absolute;
      z-index: 2;
      content: '';
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #000000;
      opacity: 0.3;
      transition: 1s ease-in-out;
    }

    &:hover img {
      transform: scale3d(1.05, 1.05, 1.05);
    }
    &:hover::before {
      opacity: .2;
    }


    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 1s ease-in-out;
    }

    &--over {
      width: 33.333%;
      height: 374px;
      box-sizing: border-box;
      padding: 0 9px;
    }

    &_text {
      position: absolute;
      z-index: 3;
      text-align: center;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #ffffff;
      font-size: 24px;
      font-weight: 300;
      text-transform: uppercase;
      cursor: default;
    }

    &_link {
      position: absolute;
      bottom: 5px;
      right: 15px;
      z-index: 4;
      opacity: 0;
      visibility: hidden;
      width: 46px;
      height: 46px;
      border: 2px solid #fff;
      border-radius: 100%;
      background: url(../img/link.png) no-repeat center;
      transition: .6s ease-in-out;
    }
    &:hover &_link {
      opacity: 1;
      visibility: visible;
      bottom: 45px;
    }
  }
}

.services {
  padding-top: 45px;

  &__list {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    position: relative;
    width: 33.333%;
    height: 340px;
    overflow: hidden;
    cursor: default;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 1.3s ease-in-out;
    }

    &::before {
      position: absolute;
      z-index: 2;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000000;
      opacity: 0.5;
      transition: 1.3s ease-in-out;
    }

    &:hover img {
      transform: scale(1.05);
    }
    &:hover::before {
      opacity: 0.3;
    }
  }

  &__text {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
  }
  &__title {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    display: block;
    width: 100%;
  }
  &__line {
    width: 62px;
    height: 8px;
    background-color: #ffffff;
    margin: 30px 0;
  }
  &__desc {
    display: block;
    width: 100%;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
  }
}

.about {
  padding: 45px 15px 35px;
  max-width: 1164px;
  margin: 0 auto;

  &__btn {
    display: block;
    margin: 0 auto;
    width: 187px;
    height: 44px;
    box-sizing: border-box;
    border: 1px solid #000000;
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    line-height: 42px;
    text-align: center;
    cursor: pointer;
    transition: .2s ease-in-out;

    &:hover {
      background-color: #b6a269;
      border: 1px solid #b6a269;
      color: #ffffff;
    }
  }
}
.paragraph {
  color: #444444;
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 20px;
}

.map {
  width: 100%;
  height: 520px;
}

.address {
  max-width: 1160px;
  margin: 0 auto;
  position: relative;
  height: 0;

  &__plash {
    position: absolute;
    top: -390px;
    right: 23px;
    width: 433px;
    height: 268px;
    background-color: rgba(106, 20, 28, .8);
    box-sizing: border-box;
    padding: 17px;
  }
  &__content {
    width: 100%;
    height: 100%;
    border: 1px solid #fefefe;
    box-sizing: border-box;
    padding: 30px;
  }
  &__text {
    color: #fefefe;
    font-size: 18px;
    font-weight: 300;
    display: block;

    & a {
      color: #fefefe;
      font-weight: 300;

      &:hover {
        text-decoration: underline;
      }
    }

    &:first-child {
      margin-bottom: 20px;
    }
  }

  &__socials {
    display: flex;
    padding-top: 25px;

    &_item {
      display: block;
      width: 37px;
      height: 25px;
      background: url(../img/socials.png) no-repeat center;
      margin-right: 10px;
      opacity: 0.9;
      transition: .3s;

      &:hover {
        opacity: 1;
      }

      &--ig {
        background-position: 5px 0;
      }
      &--vk {
        background-position: -43px 0;
      }
      &--owl {
        background-position: -89px 0;
      }
    }
  }
}

.bron {
  width: 359px;
  height: 520px;
  background-color: #6a141c;
  box-sizing: border-box;
  padding: 17px;
  margin-left: 20px;
  flex-shrink: 0;

  &-form {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #fff;
    padding: 30px 30px 25px;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
  }
  &__title {
    color: #ffffff;
    font-size: 23px;
    font-weight: 300;
    width: 100%;
    text-align: center;
  }
  &__subtitle {
    color: #ffffff;
    font-size: 15px;
    font-weight: 100;
    display: block;
    text-align: center;
  }
  &__line {
    width: 61px;
    height: 8px;
    background-color: #ffffff;
  }
  &__label {
    position: relative;
    width: 100%;

    &::before {
      position: absolute;
      content: '';
      width: 13px;
      height: 13px;
      left: 30px;
      top: 28px;
      background: #fff;
      transform: rotate(45deg);
    }

    & span {
      color: #ffffff;
      font-size: 16px;
      font-weight: 100;
      display: block;
      margin-bottom: 15px;
    }
  }
  &__input {
    width: 100%;
    height: 44px;
    background-color: #ffffff;
    box-sizing: border-box;
    border: none;
    padding: 0 17px;
    color: #444444;
    font-size: 14px;
    font-weight: 100;
    outline: none;
  }
  &__submit {
    width: 100%;
    height: 44px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    background: transparent;
    cursor: pointer;
    outline: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    transition: .3s ease-in-out;

    &:hover {
      color: #6a141c;
      background: #fff;
    }
  }
}

.form {

  &__check {
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;

    &_custom {
      display: block;
      width: 13px;
      height: 13px;
      background: url(../img/check.png) no-repeat;
      background-position: -19px 0;
      margin-right: 10px;
      flex-shrink: 0;
    }
    &_text {
      color: #ffffff;
      font-size: 14px;
      font-weight: 100;
      line-height: 12px;
      text-align: center;

      & a {
        display: block;
        color: #ffffff;
        font-size: 14px;
        font-weight: 100;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }

    & input[type="checkbox"] {
      display: none;

      &:checked ~ .form__check_custom {
        background-position: 0 0;
      }
    }
  }
}

.slider {
  flex-grow: 2;
  overflow: hidden;
  overflow: hidden;
  height: 520px;
  
  &--over {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  &__block {

  }
  &__item {
    position: relative;
    display: block;
    height: 520px;

    &::before, &::after {
      position: absolute;
      z-index: 2;
      content: '';
      left: 20px;
      bottom: 20px;
      width: 60px;
      height: 60px;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      transition: .8s ease-in-out;
    }
    &::after {
      left: auto;
      right: 20px;
      top: 20px;
      border-right: 1px solid #fff;
      border-top: 1px solid #fff;
      border-left: none;
      border-bottom: none;
    }

    &:hover::before, &:hover::after {
      width: 100px;
      height: 100px;
    }

    &_img {
      height: 520px;
      overflow: hidden;
      position: relative;

      & img {
        width: 100%;
        height: 100%;
        transition: 1s ease-in-out;
        object-fit: cover;
      }

      &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
        opacity: 0.4;
      }
    }

    &:hover img {
      transform: scale(1.05);
    }

    &_content {
      position: absolute;
      z-index: 3;
      top: 0;
      left: 70px;
      height: 100%;
      display: flex;
      align-content: center;
      flex-wrap: wrap;
    }
    &_title {
      font-family: "PFDinDisplayPro";
      font-size: 50px;
      font-weight: 400;
      color: #ffffff;
      margin: 0 0 10px;
    }
    &_text {
      display: block;
      width: 100%;
      color: #ffffff;
      font-size: 20px;
      font-weight: 100;
    }
    &_price {
      padding: 0 30px;
      height: 48px;
      margin-top: 24px;
      background-color: #b6a269;
      color: #ffffff;
      font-size: 24px;
      font-weight: 300;
      line-height: 48px;
      text-align: center;
    }
  }

  & .slick-dots {
    z-index: 10;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 19px;

    & button {
      background: transparent;
      color: transparent;
      width: 19px;
      height: 19px;
      border: none;
      border-radius: 100%;
      outline: none;
    }
    & li {
      position: relative;
      width: 9px;
      height: 9px;
      border-radius: 100%;
      background-color: #ffffff;
      margin: 0 8px;
      cursor: pointer;

      &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        content: "";
        display: inline-block;
        border: 2px solid #fff;
        border-radius: 50%;
        opacity: 0;
        -webkit-transition: 250ms;
        -o-transition: 250ms;
        transition: 250ms;
      }

      &:hover::before, &.slick-active::before {
        top: -6px;
        bottom: -6px;
        right: -6px;
        left: -6px;
        opacity: 1;
      }

    }
  }
}


