@media screen and (max-width: 1100px) {
  .footer {

    &__wrapper {
      padding-top: 15px;
      flex-wrap: wrap;
    }

    &__logo_flex {
      margin: 0 auto;
    }

    &__menu {
      position: static;
      border-bottom: none;
      height: auto; 
      padding: 20px 0; 
 
      &_item {
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        text-transform: none;
        padding: 0 5px;
      }
    }
  }
  .slider__item_title {
    font-size: 28px;
    padding-right: 30px;
  }
  .slider__item_price {
    font-size: 20px;
    padding-right: 30px;
  }
  .slider__item_text {
    font-size: 18px;
    padding-right: 30px;
  }
  .booking__form_flex {
    flex-wrap: wrap;
    justify-content: center;
  }
  .booking__form_block {
    width: 100%;
  }
  .booking__date {
    justify-content: flex-start;
  }
  .booking__label, .booking__form--check, .booking__form_submit {
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
  }
  .rooms__block {
    flex-wrap: wrap;
    justify-content: center;
  }
  .rooms__card {
    margin-top: 30px;
    margin-right: 20px;
  }
}


@media screen and (max-width: 980px) {
  .butter {
    display: block;
    position: relative;
    width: 39px;
    height: 25px;
    box-sizing: border-box;
    border-top: 5px solid #444444;
    border-bottom: 5px solid #444444;
    cursor: pointer;
    transition: all .2s;

    &::before {
      position: absolute;
      top: 5px;
      left: 0;
      content: '';
      width: 100%;
      height: 5px;
      background-color: #444444;
      transition: all .2s;
    }

    &:hover {
      border-top: 5px solid #6a141c;
      border-bottom: 5px solid #6a141c;

      &::before {
        background-color: #6a141c;
      }
    }
  }
  .header {
    &__wrapper {
      flex-wrap: wrap;
    }
    &__top_flex {
      order: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 15px;
    }
    &__address {
      order: 1;
    }
    &__phone {
      order: 2;
    }

    &__menu {
      display: block;
      box-sizing: border-box;

      &--container {
        position: absolute;
        top: 120px;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        background: #b6a269;
        max-height: 0;
        transition: all .2s;
        overflow-y: hidden;
        border: none;

        &::-webkit-scrollbar-button {
          background-image:url('');
          background-repeat:no-repeat;
          width:5px;
          height:0px
        }
        
        &::-webkit-scrollbar-track {
          background-color:#ecedee
        }
        
        &::-webkit-scrollbar-thumb {
          -webkit-border-radius: 0px;
          border-radius: 0px;
          background-color:#ccc;
        }
        
        &::-webkit-scrollbar{
          width: 1px;
        }
      }

      &--open {
        max-height: 300px;
        max-height: calc(100vh - 120px);
        overflow-y: auto;
      }

      &_item {
        max-height: 45px;
        height: auto;
        border-top: none;
        border-bottom: 1px solid #fff;
        line-height: 44px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;

        & > a {
          color: #ffffff;
          padding-left: 17px;
          text-transform: none;
        }

        &:hover {
          border-top: none;

          & .header__submenu {
            opacity: 0;
            visibility: hidden;
          }
        }
      }
    }

    &__submenu {
      box-sizing: border-box;
      left: 0;
      top: 0;
      position: static;
      padding-top: 0;
      z-index: 99;
      max-height: 0;
      overflow: hidden;

      &--opened {
        max-height: 300px;
        opacity: 1 !important;
        visibility: visible !important;
      }

      &--open {
        max-height: 300px;

        & .header__submenu_arrow {
          transform: rotate(90deg);
        }
      }

      &_arrow {
        display: block;
        height: 40px;
        border-radius: 100%;
        cursor: pointer;
        outline: none;
        width: 40px;
        transition: all .2s;
        background: url(../img/mobile-menu-arrow.png) no-repeat center;
      }

      &::before {
        display: none;
      }

      &_item {
        padding-left: 35px;
      }

      &_block {
        width: 100%;
        background: #9b8b60;
        padding: 5px 0 2px;
      }
    }
  }
  .wrapper {
    padding: 0 10px;
  }
  .akcii-sl-title-mobile {
    display: block !important;
    margin-top: 25px !important;
    margin-bottom: 0;
  }.akcii__item {
    margin-top: 15px;
  }
  .akcii__item_title {
    display: none;
  }
  .akcii__item {
    flex-wrap: wrap;
  }
  .akcii__img, .akcii__badge {
    width: 100%;
  }
  .gallery__item--container {
    width: 50%;
  }
  .bron {
    display: none;
  }
  .slider--over {
    padding: 0;
  }
  .comfort__list {
    flex-wrap: wrap;
  }
  .comfort__item--over {
    width: 100%;
    padding: 0;
    margin-bottom: 35px;
  }
  .comfort__img {
    height: 220px;
  }
  .finn__item_text {
    font-size: 18px;
  }

  .gallery__title {
    font-size: 20px;
  }
  .gallery {
    padding-top: 30px;
  }
  .contacts__flex {
    flex-wrap: wrap;
    justify-content: center;
  }
  .contacts__item {
    max-width: 350px;
    margin: 0 auto 20px;
  }
  .booking__bottom_title {
    text-align: center;
  }
  .booking__bottom_flex {
    flex-wrap: wrap;
  }
  .booking__bottom .contacts__item {
    max-width: 1500px;
    margin: 0px;
  }
  .booking__bottom_right {
    width: 100%;
    padding-top: 20px;
  }
  .booking__bottom_item {
    width: 50%;
    min-height: 80px;
    margin-bottom: 0;
  }
}


@media screen and (max-width: 768px) {
  .header {
    &__logo img {
      width: 97px;
    }
    &__wrapper {
      padding: 15px 0;
    }
    &__top_flex {
      padding: 0 15px 10px;
    }
    &__address {
      width: 100%;
      text-align: center;
      padding-bottom: 10px;
      border-bottom: 1px solid #aeaeae;
      margin-bottom: 12px;
    }
    &__phone {
      text-align: center;
      width: 100%;

      & span {
        display: none;
      }
    }
  }
  .popup__iframe, .popup-block {
    width: 100%;
  }
  .popup__close {
    right: 5px;
    top: -33px;
  }
  .popup__iframe {
    height: 100%;
  }
  .popup-block {
    height: 70%;
  }
  .book-btn {
    display: block;
    width: 100%;
    height: 44px;
    background-color: #6a141c;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 44px;
    text-align: center;
    cursor: pointer;
    transition: all .2s;
    margin-bottom: 20px;

    &:hover {
      background-color: #801520;
    }
  }

  .footer {
    &__wrapper {
      justify-content: center;
      padding-bottom: 65px;
    }
    &__logo {
      margin-right: 0;
      margin-bottom: 15px;
      &_flex {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    &__text {
      width: 100%;
      text-align: center;
    }
    &__menu {
      display: block;
      column-count: 2;
      width: auto;
      margin: 0 auto;

      &_item {
        display: block;
      }
    }
    &__btn {
      margin: 0 auto;
      &_over {
        width: 100%;
        margin-bottom: 15px;
      }
    }
    &__pay {
      display: block;
      margin: 0 auto;
      &_over {
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }

  .stick {
    opacity: 1;
    visibility: visible;
  }

  .to-top {
    width: 40px;
    height: 40px;
    padding-top: 20px;
    bottom: 80px;
    &:hover {
      padding-top: 25px;
    }

    &::before {
      left: 8px;
      width: 19px;
      height: 19px;
    }
  }
  .slider__item_content {
    left: 30px;
  }
  .comfort, .comfort__list {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .title {
    font-size: 20px;
  }
  .finn {
    padding-top: 20px;

    & .title {
      margin-bottom: 0;
    }
  }
  .finn__list {
    flex-wrap: wrap;
  }
  .finn__item--over {
    width: 100%;
    height: 175px;
    padding: 0 10px;
    margin-bottom: 13px;
  }
  .services {
    padding: 25px 10px 0;
  }
  .services__title {
    font-size: 20px;
  }
  .services__desc {
    font-size: 16px;
    padding: 0 7px;
  }
  .services__item {
    width: 50%;
  }
  .about {
    display: none;
  }
  .contacts-title {
    margin-top: 15px;
    display: block;
  }
  .address {
    height: auto;
  }
  .address__plash {
    position: static;
    width: 100%;
    height: auto;
    padding: 10px;
  }
  .address__content {
    padding: 30px 10px;
    text-align: center;
  }
  .address__socials {
    justify-content: center;
  }
  .map {
    height: 270px;
  }
  .gallery__title {
    text-align: center;
  }
  .booking__bottom_item {
    width: 100%;
    display: flex;
    align-items: center;
  }
}


@media screen and (max-width: 658px) {
  .rooms__sliders, .rooms__card {
    width: 100%;
    margin-right: 0;
  }
  
  .gallery__wrapper {
    padding: 0 10px;
  }
  .gallery__item {
    padding: 10px;
    height: 210px;
  }
  .gallery__item--container {
    width: 100%;
    padding: 0 0 10px;
  }
  .rooms__card_plash {
    flex-wrap: wrap;
    justify-content: center;
  }
  .rooms__card_item {
    width: 100%;
    margin-bottom: 10px;
  }
  .rooms__card--more {
    max-height: 0;
    transition: .3s ease-in-out;
    overflow: hidden;

    &--open {
      max-height: 3000px
    }
  }
  .rooms__card {
    min-height: 0;
  }
  .rooms__card--more-link {
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    text-align: center;

    & span {
      font-size: 12px;
      padding-bottom: 3px;
    }
  }
  .rooms__card {
    margin-top: 0px;
  }
  .rooms__card_priced {
    justify-content: center;
    flex-wrap: wrap;
  }
  .rooms__card_price {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
  .rooms__card_3d {
    border: 1px solid #e5e5e5;
  }
  .rooms__block {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .rooms-sl-title-mobile {
    display: block;
    margin-top: 0;
  }
  .rooms__card_top {
    display: none;
  }
  .rooms__slider_nav {
    display: none;
  }
  .rooms__slider {
    width: 100%;
    margin: 0;
  }
  .rooms__card_priced {
    padding: 20px 10px;
  }
  .rooms__card_text, .rooms__card_list {
    padding: 0 10px;
  }
  .rooms__card_list {
    padding-bottom: 15px;
    column-count: 1; 
  }
  .rooms__card_plash {
    padding: 0 10px 20px;
  }
}


@media screen and (max-width: 558px) { 
  .rooms__slider, .rooms__slider_item {
    height: 300px;
  }
  .akcii__item_bottom {
    flex-wrap: wrap;
    justify-content: center;
  }
  .akcii__item_date, .akcii__item_btn {
    margin: 0 5px 15px;
  }
  .slick-arrow {
    top: 110px;
  }
  .slick-arrow.slick-next {
    right: 5px;
  }
  .rooms__slider .slick-dots {
    bottom: 43px;
  }
  .rooms__slider_item--title {
    top: auto;
    bottom: 0;
    width: 100%;
  }
  .slick-arrow.slick-prev {
    left: 5px;
  }
  .slider, .slider__item, .slider__item_img {
    height: 308px;
  }
  .slider__item_title, .slider__item_text {
    text-align: center;
  }
  .slider__item_title {
    font-size: 24px;
  }
  .slider__item_content {
    padding-bottom: 45px;
    box-sizing: border-box;
  }
  .slider__item_price {
    position: absolute;
    left: -30px;
    bottom: 0;
    width: calc(100% + 30px);
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
  }
  .slider__item::before {
    left: 10px;
    bottom: 58px;
  }
  .slider__item::after {
    top: 10px;
    right: 10px;
  }
  .slider .slick-dots {
    bottom: 43px;
  }
  .comfort__count {
    font-size: 18px;
    font-weight: 400;
  }
  .comfort__category {
    font-size: 16px;
  }
  .comfort__btn {
    display: none;
  }
  .comfort__bottom {
    justify-content: center;
    text-align: center;
  }
  .comfort__text {
    width: 210px;
    height: 130px;
  }
  .comfort, .comfort__list {
    padding-bottom: 0;
  }
  .services__item {
    width: 100%;
    height: 175px;
  }
  .services__line {
    margin: 20px 0;
  }
  .breadcrumbs__block  {
    display: none;
  }
  .breadcrumbs__wrapper {
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
  }
  .page__title {
    font-size: 24px;
    margin-bottom: 35px;
  }
  .breadcrumbs__text  {
    text-align: center;
    width: 100%;
  }
  .contacts__item {
    text-align: center;
  }
  .contacts__item--map {
    padding-top: 60px;
    padding-left: 0;
    background: url(../img/contacts-map.png) top center no-repeat;
  }
  .contacts__item--address {
    padding-top: 60px;
    padding-left: 0;
    background: url(../img/address.png) top center no-repeat;
  }
  .booking__bottom .contacts__item {
    text-align: left;
  }
  .contacts__item_list {
    background: url(../img/li.png) left 4px no-repeat;
  }
  .booking__bottom_title {
    font-size: 18px;
  }
  .booking__form {
    padding: 30px 15px;
  }
  .booking__date {
    display: block;
    position: relative;

    &::after {
      display: block;
      height: 0;
      content: '.';
      color: transparent;
      clear: both;
    }
  }
  .booking__select--day {
    float: left;
    margin-bottom: 10px;
  }
  .booking__select--month, .booking__select--year {
    float: right;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .booking__form--check {
    justify-content: center;
    align-items: flex-start;
  }
  .form__check_text {
    display: block;
    text-align: left;
  }
  .booking__form_submit {
    width: 180px;
    font-size: 12px;
  }
  .contacts .contacts__item_list {
    text-align: left;
  }
  .contacts .contacts__item {
    padding-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
  }
  
}


@media screen and (max-width: 358px) { 
  .booking__select--month {
    width: 120px;
  }
}